div {
  width: 95%;
  margin: auto;
  display: flex;

  .form {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 0.5rem;
    background: #fff;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
    width: 90%;
    max-width: 450px;
    margin: auto;

    label {
      color: #4a5568;
      font-weight: 700;
    }
    input {
      border: none;
      appearance: none;
      border-radius: 0.25rem;
      border: 1.8px solid #e5e5e5;
      padding: 0.75rem 0.5rem;
      margin-bottom: 1rem;
    }
    .buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      button {
        appearance: none;
        border: none;
        background-color: #4299e1;
        padding: 0.75rem;
        border-radius: 0.25rem;
        font-weight: 700;
        font-size: 0.9rem;
        color: #fff;
      }
      button:hover {
        cursor: pointer;
        text-decoration: underline;
      }
      a {
        appearance: none;
        text-decoration: none;
        color: #4299e1;
        font-weight: 700;
        font-size: 0.9rem;
      }
      a:hover {
        text-decoration: underline;
      }
    }
  }
}
